body
{
  background-color: #370c58;
  font-family: Agency, Helvetica, Arial;
  color: #eeeeee;
}

h3
{
    margin-block-start: 2em;
    margin-block-end: 0.5em;
}

.send-button {
  background-color: #AE2CCF;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.hidden
{
    display: none;
}

.same-line
{
  display: flex;
  grid-gap: 0.5em;
}

.card
{
      background-color: #ececea;
      color:            #101010;
      border-radius:    4px;
      box-shadow:       0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      padding:          1em 2em 1em 2em;
}

.optionButton
{
    margin-left:    0.5em;
    align:  right;
}

main
{
    margin-bottom: 10px;
    margin-top: 10px;
}

td
{
    padding: 0px;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
}

.flex-component
{
    width: 400px;
    border: 1px;
    border-color: #d7cede;
    border-style: dashed;
    padding: 20px;
    background-color: #0c5837;
    margin: 20px;
}

section
{
    width:65%;
    margin: 3%;
}

aside
 {
    width: 35%;
    margin: 3%;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

a:link a:visited
{
    color:  white;
}

a:visited
{
    color:  white;
}

.check_answer
{
    font-size: 1.5em;
    font-weight: bold;
}

.correct
{
    color: #128726;
}

.incorrect
{
    color: #87122E;
}