<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="my.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://kit.fontawesome.com/12f51e0230.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Quiz</h1>

        <main>
            <section id="quiz" class="card">
                <p>{{ question }}</p>
                    <ol>
                        <li v-if="options[0]">{{ options[0] }}
                            <i v-on:click="selected[0] = true" class="fa-regular fa-circle-question" v-if="quizMode && !selected[0]"></i>
                            <i v-on:click="selected[0] = false" class="fa-solid fa-check" v-if="quizMode && selected[0]"></i>
                            <i class="fa-solid fa-circle-check" v-if="!quizMode && isCorrect(0)"></i>
                            <i class="fa-solid fa-rectangle-xmark" v-if="!quizMode && !isCorrect(0)"></i>
                        </li>
                        <li v-if="options[1]">{{ options[1] }}
                            <i v-on:click="selected[1] = true" class="fa-regular fa-circle-question" v-if="quizMode && !selected[1]"></i>
                            <i v-on:click="selected[1] = false" class="fa-solid fa-check" v-if="quizMode && selected[1]"></i>
                            <i class="fa-solid fa-circle-check" v-if="!quizMode && isCorrect(1)"></i>
                            <i class="fa-solid fa-rectangle-xmark" v-if="!quizMode && !isCorrect(1)"></i>
                        </li>
                        <li v-if="options[2]">{{ options[2] }}
                            <i v-on:click="selected[2] = true" class="fa-regular fa-circle-question" v-if="quizMode && !selected[2]"></i>
                            <i v-on:click="selected[2] = false" class="fa-solid fa-check" v-if="quizMode && selected[2]"></i>
                            <i class="fa-solid fa-circle-check" v-if="!quizMode && isCorrect(2)"></i>
                            <i class="fa-solid fa-rectangle-xmark" v-if="!quizMode && !isCorrect(2)"></i>
                        </li>
                        <li v-if="options[3]">{{ options[3] }}
                            <i v-on:click="selected[3] = true" class="fa-regular fa-circle-question" v-if="quizMode && !selected[3]"></i>
                            <i v-on:click="selected[3] = false" class="fa-solid fa-check" v-if="quizMode && selected[3]"></i>
                            <i class="fa-solid fa-circle-check" v-if="!quizMode && isCorrect(3)"></i>
                            <i class="fa-solid fa-rectangle-xmark" v-if="!quizMode && !isCorrect(3)"></i>
                        </li>
                        <li v-if="options[3]">{{ options[4] }}
                            <i v-on:click="selected[4] = true" class="fa-regular fa-circle-question" v-if="quizMode && !selected[4]"></i>
                            <i v-on:click="selected[4] = false" class="fa-solid fa-check" v-if="quizMode && selected[4]"></i>
                            <i class="fa-solid fa-circle-check" v-if="!quizMode && isCorrect(4)"></i>
                            <i class="fa-solid fa-rectangle-xmark" v-if="!quizMode && !isCorrect(4)"></i>
                        </li>
                    </ol>
                <button @click="previousQuestion">Previous</button>
                <button @click="showQuestion">Quiz</button>
                <button @click="showAnswer">Check</button>
                <button @click="nextQuestion">Next</button>
            </section>
        </main>

    <script src="quiz.js"></script>
</body>
</html>